name: Publish NuGet Packages
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: 'true'
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10'
      - name: Run build Cake script
        run: ${PWD}/build.sh -t pack-plugins
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: plugins
          path: output/QueryCat*.nupkg
